.conteudo{
    background-color: red;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px black;
}

/* prestação de serviço

rg, cpf, comprovante de residencia. resumo. 
capital 5 mil
ME
3 milhoes ano
sociedade anonina
certificado digital assinatura

prioritação 1500 reais no ponto
certificado digital por 155 reais

nota fiscal...... 

razao social: vinicios
fantasia: ivc tecnologia

*/