*{
    font-size: 100%;
}

.conteudo{
    background-color: red;
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px black;
    overflow: auto;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;

}
p{
    opacity: 1;
}
/* prestação de serviço

rg, cpf, comprovante de residencia. resumo. 
capital 5 mil
ME
3 milhoes ano
sociedade anonina
certificado digital assinatura

prioritação 1500 reais no ponto
certificado digital por 155 reais

nota fiscal...... 

razao social: vinicios
fantasia: ivc tecnologia

*/