.caixa{
    margin: 55px;
    width: 250px;
    height: 250px;
    background: linear-gradient(70deg , red, blue, green); /*radial gradient pega do meio pra ponta*/
    /*transform: rotate(45deg);*/
    mR

}