.conteudo {
  width: 600px;
  height: 1200px;
  background-color: rebeccapurple;
  position: relative;
}

.texto {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: fixed;
  top: 10px;
  left: 10px;
  overflow: auto;
  transition: width 2s linear 2s , height 2s linear 2s;
  
}

.texto:hover{
    background-color: black;
    width: 300px;
    height: 300px;
    color: aliceblue;
}
